<h4>Les semaines</h4>
<!-- <span class="badge badge-success badge_style" title="Importer les semaines" *ngIf="! importing"
        (click)="onImportSemainesFromAfttToClub()">Importer les semaines AFTT</span> -->

<!-- <mdb-tabset #staticTabs [buttonClass]="'md-tabs'" [contentClass]="'card'" *ngIf="afttDivisionCategories"> -->
<mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-secondary mb-2'"
    [justified]="true" [contentClass]="'card'" *ngIf="afttDivisionCategories && weeks">

    <mdb-tab  [heading]="categorie.name" *ngFor="let categorie of afttDivisionCategories">
      <app-admin-semaines-by-category [afttDivisionCategory]="categorie"
      [weeks]="getFilteredWeeksByCategory(categorie)"></app-admin-semaines-by-category>
    </mdb-tab>


</mdb-tabset>

<br>
<br>
<br>