
<div class="card">
    <div class="card-header">
        <h3>{{ dialogData.groupe.titre }} - Ajouter une séance</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="seanceForm" (ngSubmit)="onCreateSeance()">

        <!-- 
            titre: string;
            presentation: string;
            jourIndex: number;
            heureDebut: string;
            heureFin: string;
        -->

        <div class="md-form form-sm form-field">
            <input type="text" id="titre" formControlName="titre" 
                class="form-control form-control-sm" mdbInput minLength="3" mdbValidate required >
            <label for="titre">Nom</label>
        </div>
        <div class="md-form form-sm form-field">
            <input type="text" id="presentation" formControlName="presentation" 
                class="form-control form-control-sm" mdbInput minLength="3" mdbValidate  >
            <label for="presentation">Description</label>
        </div>

        <div class="row my-row">
            <div class="col-lg-2 col-xl-3">
                <!-- Jour -->
                <div class="md-form form-sm">
                    <mdb-select id="jourIndex" formControlName="jourIndex" required [options]="jours" label="Jour">
                    </mdb-select>
                    <label for="jourIndex">Jour:</label>
                </div>
            </div>

            <div class="col-lg-2 col-xl-3">
                <div class="md-form form-sm form-field">
                    <input type="text" id="heureDebut" formControlName="heureDebut" 
                        class="form-control form-control-sm" mdbInput minLength="3" mdbValidate  required>
                    <label for="heureDebut">Heure début</label>
                </div>
            </div>

            <div class="col-lg-2 col-xl-3">
                <div class="md-form form-sm form-field">
                    <input type="text" id="heureFin" formControlName="heureFin" 
                        class="form-control form-control-sm" mdbInput minLength="3" mdbValidate  required>
                    <label for="heureFin">Heure fin</label>
                </div>
            </div>
        </div>

        <!-- Post data -->
        <div class="md-form form-sm">
            <button mdbBtn  type="submit" class="btn btn-sm btn-primary" [disabled]="seanceForm.invalid">Créer la séance</button>
            &nbsp;<button type="button" class="btn btn-sm btn-outline-danger" (click)="onCancel()">Cancel</button>
        </div>

        <!--
            

            <div formGroupName="datesForm">

                <div class="row">
                    <div class="md-form form-sm form-field">
                        <mdb-date-picker #datePicker name="dateDebut" [options]="myDatePickerOptions" 
                            [label]="'Date de debut.'"
                            [placeholder]="'Debut'" 
                            [locale]="lang"
                            formControlName="dateDebut" ></mdb-date-picker>
                    </div>
    
                    <div class="md-form form-sm form-field">
                        <mdb-date-picker #datePicker name="dateFin" [options]="myDatePickerOptions" 
                            [label]="'Date de fin.'"
                            [placeholder]="'Fin'" 
                            [locale]="lang"
                            formControlName="dateFin" ></mdb-date-picker>
                    </div>
                </div>

                <div id="dates-error" *ngIf="datesForm.dirty && datesForm.hasError('matchingError')" style="color: red;">Les dates ne sont pas successives</div>

            </div>

            <div formGroupName="domainesForm">
                <div class="row">

                    <div class="md-form form-sm form-field">
                        <mdb-checkbox formControlName="isForEntrainements" name="isForEntrainements">Entrainements</mdb-checkbox>
                    </div>
                    <div class="md-form form-sm form-field">
                        <mdb-checkbox formControlName="isForStages" name="isForStages">Stages</mdb-checkbox>
                    </div>
                </div>
                <div id="dates-error" *ngIf="domainesForm.dirty && domainesForm.hasError('matchingError')" style="color: red;">Il faut indiquer au moins un domaine</div>
            </div>
        -->

            <!-- Post data -->
<!--             <div class="md-form form-sm">
                <button mdbBtn  type="submit" [disabled]="periodeForm.invalid" class="btn btn-sm btn-success">Créer la période</button>
                &nbsp;<button type="button" class="btn btn-sm btn-warning" (click)="onCancel()">Cancel</button>
            </div> -->

        </form>
    </div>
</div>
