<!--Section: Contact v.1-->
<section class="pb-5">

  <!--Section heading-->
  <h1 class="text-center">Adresse de notre local<br>
    <br></h1>
  
  <!--Section description-->
  

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 my-4">

      <!--Form with header-->
      <mdb-card>

        <mdb-card-body>
          <!--Header-->
          <div class="form-header red accent-1">
            <h3>
              Notre adresse</h3>
          </div>
          <img src="./assets/img/WAVRE.png" alt="Avatar" class="center">
          <br>
          <h3 class="text-center"> Rue Charles Jaumotte 156 <br> 1300 WAVRE (Limal)</h3>
          <div class="text-center">
            <button mdbBtn type="button" color="info" rounded="true" outline="true" mdbWavesEffect><a href="https://www.google.be/maps/place/CTT+Limal-Wavre/@50.7006737,4.5791177,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3d626fa830a35:0xe3776dc79b64754!8m2!3d50.7006737!4d4.5813064?hl=fr" target="_blank" aria-pressed="true">Lien Google</a></button>

          </div>
          
          
        </mdb-card-body>

      </mdb-card>
      <!--Form with header-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 my-4">
      <mdb-card>

        <mdb-card-body>
          <!--Header-->
          <div class="form-header red accent-1">
            <h3>
              Plan d'accès</h3>
          </div>
          <img src="./assets/img/plan.png" alt="Avatar" class="image" style="width:100%"> <br><br>
          

        </mdb-card-body>

      </mdb-card>
      
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 my-4">
      <mdb-card>

        <mdb-card-body>
          <!--Header-->
          <div class="form-header red accent-1">
            <h3>
              Notre salle</h3>
          </div>
          <img src="./assets/img/salle.png" alt="Avatar" class="image" style="width:100%"> <br><br>
          

        </mdb-card-body>

      </mdb-card>
      
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.1-->