<h2>Les rôles par groupe</h2>
<!-- <h5>Ajouter un rôle</h5>

<div *ngIf="domainsSelect">

    <form [formGroup]="roleForm" (ngSubmit)="onCreateRole()" class="border border-black">
        <div class="role-form" fxLayoutGap="35px">
    
            <div class="md-form" fxFlex="20%">
                <i class="fa fa-envelope prefix grey-text"></i>
                <mdb-select class="col-md-12"
                [options]="domainsSelect" id="domain" formControlName="domain" placeholder="Choisir un domaine"></mdb-select>
                <label for="domain">Domaine</label>
            </div>
    
            <div class="md-form" fxFlex="30%">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="role" formControlName="role" class="form-control" mdbInput minLength="5">
                <label for="role">Rôle</label>

            </div>
    
    
            <div class="md-form" fxFlex="20%">
                <button  type="submit" class="btn btn-sm btn-unique button-small waves-light" mdbWavesEffect [disabled]="roleForm.invalid">
                  <i class="fa fa-paper-plane-o ml-1"></i> &nbsp; Créer le rôle
                </button>
              </div>
        </div>
    </form>

</div> -->

<!-- <hr>
<h6>Liste des rôles par groupe:</h6> -->
<div *ngIf="groups">


    <div *ngFor="let group of groups; let ix = index">
        <br>
        <p-panel header="Groupe: {{ group.name }}" [toggleable]="true" [toggler]="'header'" 
            
            [collapsed]=" ix !== 0">
    
            {{ group.commentaire }} 
            <br>
    
            <table mdbTable small="true" hover="true">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Role_ID</th>
                        <th>Domaine</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let role of getRoleForGroup(group); let ix=index">
                        <th scope="row">{{ix+1}}</th>
                        <th>{{role.id}}</th>
                        <th>{{role.authDomain.domain}}</th>
                        <td>{{role.role}}</td>
                        <td>... todo ...</td>
                    </tr>
                </tbody>
            </table>
    
        </p-panel>
    </div>

</div>


