<!--Section: Contact v.1-->
<section class="pb-5">

  <!--Section heading-->
  <h1 class="text-center">Adresse de notre local<br>
    <br></h1>
  
  <!--Section description-->
  

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 my-4">

      <!--Form with header-->
      <mdb-card>

        <mdb-card-body>
          <!--Header-->
          <div class="form-header red accent-1">
            <h3>
              Notre adresse</h3>
          </div>
          <h3 class="text-center"> WAVRE </h3>
          <img src="./assets/img/WAVRE.png" alt="Avatar" class="image" style="width:100%">
          <br>
          <h3 class="text-center"> Rue Charles Jaumotte 156 <br> 1300 WAVRE (Limal)</h3>


          

        </mdb-card-body>

      </mdb-card>
      <!--Form with header-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">
      <img src="./assets/img/salle.png" alt="Avatar" class="image" style="width:100%">
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.1-->