
<h2>Gestion des interclubs via AFTT</h2>

<span class="badge badge-success badge_style" title="Importer les semaines" *ngIf="! importingInterclubsCategories"
        (click)="onImportInterclubsCategoriesAfttToClub()">Importer catégories interclubs de AFTT</span>
&nbsp;
<span class="badge badge-info badge_style" title="Importer les semaines" *ngIf="! importingInterclubsCategories"
        (click)="onImportInterclubsSemainesAfttToClub()">Importer Semaines interclubs de AFTT</span>   
        
&nbsp;
<span class="badge badge-info badge_style" title="Importer les divisions" *ngIf="! importingInterclubsCategories"
        (click)="onImportInterclubsDivisionsAfttToClub()">Importer Divisions interclubs de AFTT</span>   
        
&nbsp;
<span class="badge badge-info badge_style" title="Importer les Equipes" *ngIf="! importingInterclubsCategories"
        (click)="onImportInterclubsTeamsAfttToClub()">Importer Equipes interclubs de AFTT</span>          

&nbsp;
<span class="badge badge-info badge_style" title="Importer les Matches" *ngIf="! importingInterclubsCategories"
        (click)="onImportInterclubsMatchesAfttToClub()">Importer Matches interclubs de AFTT</span>          
        
&nbsp;
<span class="badge badge-info badge_style" title="Importer les Matches" *ngIf="! importingInterclubsCategories"
        (click)="onImportInterclubsListesDesForcesAfttToClub()">Importer listes des forces interclubs de AFTT</span>        
<br>
<br>

<mdb-tabset #staticTabs [buttonClass]="'md-tabs'" [contentClass]="'card'" >

  <mdb-tab heading="Equipes" *ngIf="afttSyncInfo">
    <app-admin-equipes *ngIf="afttTeams && afttDivisionCategories" 
      [afttDivisionCategories]="afttDivisionCategories"
      [afttTeams]="afttTeams"></app-admin-equipes>
  </mdb-tab>

  <mdb-tab heading="Divisions" *ngIf="afttSyncInfo">
    <app-admin-divisions *ngIf="afttDivisions && afttDivisionCategories" 
      [afttDivisionCategories]="afttDivisionCategories"
      [afttDivisions]="afttDivisions"></app-admin-divisions>
  </mdb-tab>

  <mdb-tab heading="Listes des forces" *ngIf="afttSyncInfo">
    <app-admin-listesdesforces *ngIf="afttMembers && afttDivisionCategories"
      [afttDivisionCategories]="afttDivisionCategories"
      [afttMembers]="afttMembers"></app-admin-listesdesforces>
  </mdb-tab>

  <mdb-tab heading="Les semaines" *ngIf="afttSyncInfo">
    <app-admin-semaines
      [afttSyncInfo]="afttSyncInfo"
      [afttDivisionCategories]="afttDivisionCategories"
      [weeks]="afttWeekByCategory"></app-admin-semaines>
  </mdb-tab>

  <mdb-tab heading="Les calendriers" *ngIf="afttSyncInfo">
    <app-admin-calendriers *ngIf="afttDivisionCategories"
      [afttSyncInfo]="afttSyncInfo"
      [afttTeams]="afttTeams"
      [afttDivisionCategories]="afttDivisionCategories"
      [afttWeekByCategory]="afttWeekByCategory"></app-admin-calendriers>
  </mdb-tab>


  <mdb-tab heading="Type de matches" >
    <app-admin-supported-match-types [afttMatchTypes]="afttMatchTypes" ></app-admin-supported-match-types>
  </mdb-tab>

  <mdb-tab heading="Synchronisations AFTT" *ngIf="showable">
    <app-admin-synchronisation [afttSyncInfo]="afttSyncInfo"></app-admin-synchronisation>
  </mdb-tab>

</mdb-tabset>