
<!-- 
<p><mdb-icon fas icon="bell" size="3x" class="cyan-text pr-3" aria-hidden="true"></mdb-icon> cyan-text</p>

<mdb-icon fas icon="camera-retro"></mdb-icon> camera-retro -->

<div *ngIf="users">
    <!-- {{ users | json }} -->

    <mdb-card [hidden]="showMode === 1">
        <!--Card image-->
        <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img> -->
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h1>Les membres</h1>
          </mdb-card-title>
          
          <img alt="My image name" [src]="'assets/img/membres2.jpg'" class="img-fluid title-image">
          <br>
          <div  *ngIf="isUserClubAdmin">
            <mdb-checkbox [(ngModel)]="includeDeletedItems" (change)="onChangeIncludeDeletedItems($event)">Inclure les fiches supprimées</mdb-checkbox>
            <br>
          </div>
          <!--Text-->
<!--           <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text> -->
      
          <div >
            <table mdbTable small="true">
              <thead>
                <tr>
                  <!-- <th *ngFor="let user of headElements" scope="col">{{head}} </th> -->
                  <!--
                  
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Licence</th>
                  <th>Utilisateur</th>
                  <th>Dernière connexion</th>-->
                  <th>N°</th>
                  <th>ID</th>
                  <th>Nom <span class="badge badge-info badge_style" 
                    title="Trier selon le nom" 
                    (click)="onSortByNom()"> <mdb-icon fas icon="sort"></mdb-icon> </span> 
                  </th>

                  <th>Prénom <span class="badge badge-info badge_style" 
                    title="Trier selon le prénom" 
                    (click)="onSortByPrenom()"> <mdb-icon fas icon="sort"></mdb-icon> </span>
                  </th>

                  <th>Licence
                    <span class="badge badge-info badge_style" 
                    title="Trier selon le numéro de licence" 
                    (click)="onSortByLicence()"> <mdb-icon fas icon="sort"></mdb-icon> </span>
                  </th>
                  <th>Utilisateur</th>
                  <th>Dernière connexion</th>
<!--                   <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" 
                    [mdbTableSort]="users" 
                    [sortBy]="headElements[i]">{{head | titlecase}}
                    <mdb-icon fas icon="sort"></mdb-icon>
                  </th> -->
                  <th *ngIf="currentUser!==null && currentUser!==undefined">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let user of users; let ix=index">
                  <td [ngStyle]="{'color': getColor(user), 'font-weight': 600 }" scope="row">{{ix+1}}</td>
                  <td>{{user.id}}</td>
                  <td [ngStyle]="{'color': getColor(user), 'font-weight': 600 }">{{user.nom}}</td>
                  <td [ngStyle]="{'color': getColor(user), 'font-weight': 600 }">{{user.prenom}}</td>
                  <td [ngStyle]="{'color': getColor(user), 'font-weight': 600 }">{{user.licence}}</td>
                  <td [ngStyle]="{'color': getColor(user), 'font-weight': 600 }">{{user.username}}</td>
                  <td>{{ user.lastLoginAt | date:'dd/MM/yyyy HH:mm' }}</td>
                  <td *ngIf="currentUser!==null && currentUser!==undefined">

                      <span class="badge badge_style" *ngIf="hasEditAccess(user)"
                        title="Editer/Modifier" 
                        (click)="onEditUser(user)"> <mdb-icon fas icon="edit" class="indigo-text pr-1"></mdb-icon> 
                      </span> 
                      &nbsp;
                      <span class="badge badge_style" *ngIf="isUserClubAdmin && !isCurrentUser(user)"
                        title="Supprimer" 
                        (click)="onDeleteUser(user)"> <mdb-icon fas icon="user-minus" class="red-text pr-1"></mdb-icon> 
                      </span> 
                      &nbsp;
                      <span class="badge badge_style" *ngIf="isUserClubAdmin && hasValidEmailAddress(user) "
                        title="Reinitiliser le mot de passe" 
                        (click)="onResetUserPassword(user)"> <mdb-icon fas icon="unlock-alt" class="amber-text pr-1"></mdb-icon> 
                      </span> 

                      &nbsp;
                      <span class="badge badge_style" *ngIf="isUserClubAdmin && user.deletedAt !== null "
                        title="Ré-activer cet utilisateur" 
                        (click)="onReactivateUser(user)"><mdb-icon fas icon="long-arrow-alt-up" size="2x" class="green-text pr-1"></mdb-icon>
                      </span> 
                  </td>
                </tr>
              </tbody>
            </table>

            <br>
            <br>
            <br>
            
          </div>

         

          

        </mdb-card-body>
      </mdb-card>

      <div [hidden]="showMode === 0">
        <button type="button" class="btn btn-sm btn-success"
                (click)="onShowListe()">Retour à la liste</button>
        <app-user-edit [user]="selectedUser" [isAdmin]="isUserClubAdmin" (userEmitter)="onUserModified($event)"></app-user-edit>
        <button type="button" class="btn btn-sm btn-success"
                (click)="onShowListe()">Retour à la liste</button>
        <br>
        <br>
        <br>
      </div>

</div>