<h4 style="text-align: center;">Selection des Dames</h4>

    <div class="row">
        <div class="col-sm-4">
            <mdb-card >
                <mdb-card-body>
                    <mdb-card-title>
                        <h5>Liste des joueurs sélectionnables</h5>
                      </mdb-card-title>

    
                 <div *ngIf="listeDesForces">

                        <table mdbTable small="true" hover="true" class="ldf-table">
                            <tr mdbTableCol  *ngFor="let item of listeDesForces; let ix = index" 
                            (click)="setClickedLdfRow(ix, item)"
                                [class.active]=" ix === selectedLdfRow ">
                                    <td scope="row">{{ item.participant.nom}}</td>
                                    <td>{{ item.participant.prenom}}</td>
                                    <td>{{ item.listeDeForce.rankingIndex}}</td>
                                    <td>{{ item.listeDeForce.classement}}</td>
                                    <td *ngIf="item.allowed">&nbsp;</td>
                                    <td *ngIf="!item.allowed"><i class="fas fa-exclamation-triangle" title="Sélection interdite - Pas de fiche membre"></i></td>
                            </tr>
                        </table> 

                    </div> 
                    
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm-8">
            <div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <mdb-card class="small">
                                <mdb-card-body>
                                    <mdb-card-title>
                                        <h5>Choix des critères de sélections</h5>
                                      </mdb-card-title>
                                    <div>
                                        <mat-form-field>
                                            <mat-label>Semaine</mat-label>
                                            <mat-select matNativeControl [(ngModel)]="selectedSemaine" name="semaine" 
                                                (selectionChange)="onChangeSemaine($event)">
                                            <mat-option value="" selected></mat-option>
                                            <mat-option *ngFor="let w of semaines" [value]="w">
                                                Semaine {{w.weekName}} du {{w.startOfWeek | date:'dd/MM/yyyy'}} au {{w.endOfWeek | date:'dd/MM/yyyy' }}.
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                    
                                    <div>
                                        <mat-form-field>
                                            <mat-label>Version</mat-label>
                                            <mat-select matNativeControl [(ngModel)]="selectedSemaineVersion" name="semaineversion" 
                                                (selectionChange)="onChangeSemaineVersion($event)">
                                            <mat-option value="" selected></mat-option>
                                            <mat-option *ngFor="let s of semaineVersions" [value]="s">
                                                version {{s.semaine_version}}: {{s.semaine_version_statut}}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                 <!--        <a (click)="onSemaineNextVersion()" mdbBtn floating="true" size="sm" gradient="blue" title="Ajouter une nouvelle version" mdbWavesEffect>
                                            <mdb-icon fas icon="plus"></mdb-icon>
                                          </a>

                                          <a (click)="onSemaineVersionValidate()" mdbBtn floating="true" size="sm" gradient="blue" title="Valider les sélections" mdbWavesEffect>

                                          <a (click)="onValidateNextVersion()" mdbBtn floating="true" size="sm" gradient="blue" title="Valider les sélections" mdbWavesEffect>

                                            <i class="fas fa-check"></i>
                                          </a>
                                          <a (click)="onSemainePublishVersion()" mdbBtn floating="true" size="sm" gradient="blue" title="Publier les sélections" mdbWavesEffect>
                                            <i class="fas fa-check"></i>
                                          </a> -->

                          

                                          <span class="badge badge-info badge_style" title="Ajouter une nouvelle version" (click)="onSemaineNextVersion()"><i class="fas fa-plus"></i>Ajouter</span> 
                                          &nbsp;
                                          <span class="badge badge-info badge_style" title="Valider la version de travail" (click)="onSemaineVersionValidate()"><i class="fas fa-check"></i>Valider</span> 
                                          &nbsp;
                                          <span class="badge badge-info badge_style" title="Publier la version de travail" (click)="onSemainePublishVersion()"><i class="fas fa-upload"></i>Publier</span> 
                                    </div>
                    
                                    <div>
                                        <mat-form-field>
                                            <mat-label>Equipe</mat-label>
                                            <mat-select matNativeControl [(ngModel)]="selectedTeam" name="team" 
                                                (selectionChange)="onChangeTeam($event)">
                                            <mat-option value="" selected></mat-option>
                                            <mat-option *ngFor="let t of teams" [value]="t">
                                                Equipe {{t.Team}}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                        <div class="col-sm-6">
                            <mdb-card class="small">
                                <mdb-card-body>
                                    <mdb-card-title>
                                        <h5>Info sur le match selectionné</h5>
                                      </mdb-card-title>
                                    <table mdbTable small="true" hover="true">
                                       <tr>
                                        <td><b>Date</b>:</td>
                                        <td><span *ngIf="selectedMatch">{{ selectedMatch?.matchDate | date:'dd/MM/yyyy'}}  <b>Heure</b>: {{ selectedMatch?.Time}}</span> </td>
                                       </tr>
                                       <tr>
                                        <td><b>Match</b>:</td>
                                        <td><span *ngIf="selectedMatch">{{ selectedMatch?.HomeTeam}} contre {{ selectedMatch?.AwayTeam}}</span></td>
                                       </tr><tr>
                                        <td><b>Adresse</b>:</td>
                                        <td><span *ngIf="selectedMatch">{{ selectedMatch?.venueName}},{{ selectedMatch?.venueStreet}}, <b>{{ selectedMatch?.venueTown}}</b></span></td>
                                       </tr>
                                    </table> 
                    
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <br>
                    <mdb-card>
                        <mdb-card-body>
                            <mdb-card-title>
                                <h5>Sélection de l'équipe</h5>
                              </mdb-card-title>
                            <form [formGroup]="selectionForm">
                            <table mdbTable small="true" hover="true" style="height: calc(2vh - 100px);">
                                <tr>
                                    <th style="width: 20%" scope="col">N°</th>
                                    <th style="width: 20%" scope="col">Indice</th>
                                    <th style="width: 40%" scope="col">Joueur</th>
                                    <th style="width: 20%" scope="col">Classement</th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(1)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>J1</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(1)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>              
                                    <td>
                                        <input type="text" mdbInput formControlName="j1_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="j1_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="j1_classement" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(2)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>J2</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(2)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>
                                    <td>
                                        <input type="text" mdbInput formControlName="j2_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="j2_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="j2_classement" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(3)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>J3</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(3)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>
                                    <td>
                                        <input type="text" mdbInput formControlName="j3_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="j3_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="j3_classement" readonly>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(5)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>R1</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(5)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>
                                    <td>
                                        <input type="text" mdbInput formControlName="r1_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r1_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r1_classement" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(6)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>R2</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(6)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>
                                    <td>
                                        <input type="text" mdbInput formControlName="r2_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r2_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r2_classement" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(7)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>R3</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(7)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>
                                    <td>
                                        <input type="text" mdbInput formControlName="r3_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r3_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r3_classement" readonly>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">
                                        <button class="button button" (click)="onSelectionJoueur(8)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>R4</button>
                                        <button class="button button" (click)="onDeleteSelectionJoueur(8)" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect><i class="fas fa-trash"></i></button>
                                    </th>
                                    <td>
                                        <input type="text" mdbInput formControlName="r4_indice" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r4_nom_prenom" readonly>
                                    </td>
                                    <td>
                                        <input type="text" mdbInput formControlName="r4_classement" readonly>
                                    </td>
                                </tr>
                            </table>
                            </form>
                        </mdb-card-body>
                      </mdb-card>
                </div>
            </div>
        </div>
    </div>


  



 
  
  