<div *ngIf="classe" class="classe-preview">
  <div class="entrainement-classe2">
    <mdb-card>
        <div class="view rgba-white-slight waves-light feature-image" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img *ngIf="!isImageLoading && imageUrl!==null; else noImageFound"
            class="img-fluid classe-image" 
            [src]="imageUrl" 
            alt="Card image cap">
          </mdb-card-img>
          <ng-template #noImageFound>
              <mdb-card-img
                class="img-fluid classe-image" 
                [src]="noImageUrl"
                alt="Card image cap">
              </mdb-card-img>
          </ng-template>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body class="entrainement-classe">
          <!--Title-->
          <mdb-card-title>
            <h4>{{ classe.titre }}</h4>
          </mdb-card-title>
    
          <p-scrollPanel [style]="{width: '100%', height: '100px'}">
            {{ classe.presentation }}
          </p-scrollPanel>

          <div class="entrainement-classe-footer">
            <button type="button" class="btn btn-sm btn-success" (click)="onShowClasseGroupes()">Détails...</button>
            &nbsp;

            <span *ngIf="classe.externalLink">
              <a [href]="classe.externalLink" target="_blank" color="secondary" mdbWavesEffect>Infos...</a>
            </span>
            &nbsp;

            <span class="badge badge-info badge_style" title="Modifier la classe" *ngIf="isUserClubAdmin()"
              (click)="onEditEntrainementClasse()">
              <i class="fas fa-edit"></i>
            </span>
            &nbsp;

          </div>

        </mdb-card-body>
    </mdb-card>
  </div>
</div>