.feature-image {
    max-width: 300px;
    max-height: 180px;

    .classe-image {
        max-width: 300px;
        max-height: 180px;
        width: 250px;
        height:180px;
    }
}

.classe-preview {
    max-width: 300px !important;
}
