
<button class="btn btn-sm" (click)="onSwitchWithDetails()">Switch details</button>
<br>

<div *ngIf=" ! withDetails">
      <pdf-viewer [src]="pdfDocument" 
                    [render-text]="true"
                    style="display: block;"
                    [show-all]="true"
      ></pdf-viewer>
</div>

<div *ngIf="withDetails">
      <ngx-extended-pdf-viewer [src]="pdfDocument" 
            useBrowserLocale="true" 
            height="600px"
            width="800px"
            [showOpenFileButton]="false"
            ></ngx-extended-pdf-viewer>
</div>