.feature-image {
    max-width: 600px;
    max-height: 400px;

/*     .news-image {
        max-width: 250px;
        max-height: 400px;
        width: 250px;
        height: 400px;
    } */
}

.badge_style {
    cursor: pointer;
}

